/* ---- reset ---- */
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300');
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */

body {
  color: #07070A;
  font-family: 'Roboto Slab', serif;
  font-size: 40px;
  line-height: 147%;
  background-color: #B6C2D9;
}

p {
  margin: 0;
}

#main {
  
}
.game-container {
  width: 100%;
  height: 90vh;
}

canvas {
  height: auto;
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  margin: 50px;
  border: 2px solid #414361;

}

#screen-sections{
  height: auto;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

#game-headings {
  font-size: 90px;
  margin:40px;
}

.buttons{
  margin: 10px;
  display: flex;
  flex-direction : row;
  height: 110px;
  width:260px;
  background-color: #B6C2D9;
  border: 0.5px solid #7F2CCB;
}

.buttonsParagraph{
  font-size: 38px;
  font-family: 'Roboto Slab', serif;
  color:  #7F2CCB;
  margin-bottom: 2px;
  margin-left: 10px;
}



